fastapi>=0.121.2
uvicorn>=0.38.0
openai>=1.0.0
python-dotenv>=1.0.0
python-multipart>=0.0.6

## break vercel deployment
# faiss-cpu>=1.7.4
# numpy>=1.24.0
# torch>=2.0.0
# torchvision>=0.15.0
# ftfy>=6.1.1
# regex>=2023.0.0
# pillow>=10.0.0
# scikit-learn>=1.3.0
# prophet>=1.1.5
# git+https://github.com/openai/CLIP.git
# asyncio>=3.4.3